

*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
body{
    background-color: #EEEEEE;
    font-family: "Rubik", sans-serif;
}
.fa, .fas, .fab{
    overflow: hidden;
}


header {
    background-color: black;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
    margin: 0;
    height: 10vh;
    width: 100vw;
    overflow: hidden;
}

#logo {
    font-size: 1.5em;
    padding-left: 3%;
}

.toggle-btn {
    font-size: 1.5em;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    right: 5%;
    top: 50%;
    transform: translate(-7%, -80%);
    z-index: 6;
}

.menu {
    gap: 10px;
    list-style: none;
    padding-right: 14%;
    margin: 0;
}

.menu li {
    padding: 15px;
    text-align: center;
}
.menu a {
    text-decoration: none;
    color: white;
    display: block;
}

.navbar {
    display: none;
    flex-direction: column;
    background-color: #444;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    transition: opacity 0.5s ease-in-out 1s;
    overflow-x: hidden;

    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path:circle(100% at 90% -10%);
    /* transition: all 1s ease-in-out; */
    
    /* visibility: visible; */
    /* opacity: 1; */

    
}

.navbar.open {
    visibility: visible;
    opacity: 1;
    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path: circle(70% at 90% -10%);
}
.navbar a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #555;
}


@media screen and (max-width: 768px) {
    .toggle-btn {
        display: block;
        /* margin-bottom: 23%; */
        cursor: pointer;
        z-index: 2;
        right: 5%;
        top: 50%;
        transform: translate(-7%, -80%);
        margin-top: 20%;
    }
.menu{
    display: block;
}
.navbar {
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #444;
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow-x: hidden; 

    clip-path: circle(100px at 90% -10%);
    -webkit-clip-path:circle(700px at 90% -10%);
    transition: all 1s ease-in-out;
}
.navbar a {
    padding: 15px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    transition: 0.3s;
}

.navbar a:hover {
    background-color: #555;
}
}


#about{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: "Rubik", sans-serif;
    width: 90vw;
    height: 75vh;
    margin-left: 5%;
}   
#about p{
    max-width: 80%;
    font-size: 20px;
    margin-top: 10px;
    text-align: justify;
    
}
#about #p2{
    max-width: 80%;
    font-size: 14px;
    text-align: justify;
}
.horizontal-rule {
    display: inline-block;
    width: 35px; 
    height: 1px;
    background-color: black; 
    margin-left: 15px; 
    margin-bottom: 10px;
}
#AB{
    overflow: hidden;
    
}
#about h3{
    font-size: 30px;
    font-family: "Ubuntu", sans-serif;
    text-align: justify;
}
#age{
    overflow: hidden;
    width: 400px;
    height:400px;
}

#age img{
    width: 100%;
    height: 100%;
}
#my-name{
    font-size: 54px;
}
.soc{
    margin-left: 5%;
    margin-bottom: 4%;
    display: flex;
    gap: 30px;
}
.soc i{
    color: black;
    font-size: 2em;
}
.soc .fa-brands {
    font-size: 2em;
    overflow: hidden;
}
@media (max-width: 768px) {
    #about {
        flex-direction: column;
        height: auto;
        margin-top: 30%;
    }

    #AB {
        text-align: center; /* Center align content */
    }

    #age {
        width: 100%; /* Adjust width to full width */
        height: auto; /* Allow height to adjust */
    }
}

@media (max-width: 480px) {
    #about h3 {
        font-size: 24px; /* Reduce font size for smaller screens */
    }

    #my-name {
        font-size: 42px; /* Reduce font size for smaller screens */
    }

    #about p {
        font-size: 16px; /* Adjust font size for smaller screens */
    }

    #about #p2 {
        font-size: 12px; /* Further reduce font size for smaller screens */
    }


    .soc {
        display: flex;
        flex-direction: row; /* Stack social icons vertically */
        align-items: center; /* Center align social icons */
        text-align: center;
        margin-left: 25%;
        margin-top: 5%;
    }
}
#myvideo{
    text-align: center;
    margin-top: 15%;
    /* height: 90vh; */
    overflow: hidden;
}
#myvideo video{
    margin-top: 30px;
    width: 70vw;
    overflow: hidden;
}
#whatdo{
    width: 100vw;
    /* height: 100vh; */
    margin-top: 15%;
    text-align: center;
    overflow: hidden;
}
#whatdo h1{
    color: black;
    text-align: center;
    font-size: 20px;
}
#dodo{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    width: 100vw;
    gap: 40px;  
}
.inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 300px;
    height: 320px;
    background-color: black;
    color: white;
    overflow: hidden;
}
.inner h6,
.inner1 h6,
.inner2 h6{
    font-size: 30px;
    text-align: left;
    padding: 7%;
    overflow: hidden;
}
.inner a,
.inner1 a,
.inner2 a{
    padding-top: 15px;
    color: white;
    text-decoration: none;
    overflow: hidden;
    border: 2px solid white;
    border-radius: 15px;
    height: 40px;
}

.inner p,
.inner1 p,
.inner2 p{
    text-align: justify;
    padding: 15px;
    overflow: hidden;
}   
.inner1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 300px;
    height: 320px;
    background-color: black;
    color: white;    
    overflow: hidden;
}
 .inner2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid;
    width: 300px;
    height: 320px;
    background-color: black;
    color: white;
    overflow: hidden;
}

@media (max-width: 768px) {
    #whatdo {
        margin-top: 10%;
    }

    #dodo {
        flex-direction: column;
        gap: 20px;
    }

    .inner,
    .inner1,
    .inner2 {
        width: 80%;
    }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
    #whatdo {
        margin-top: 5%;
    }

    .inner,
    .inner1,
    .inner2 {
        width: 90%;
        height: auto; /* Allow height to adjust based on content */
        padding: 20px;
        text-align: center; /* Center align text within inner divs */
    }

    .inner h3,
    .inner1 h3,
    .inner2 h3 {
        font-size: 32px;
        padding: 5%;
    }

    .inner p,
    .inner1 p,
    .inner2 p {
        padding: 10px;
    }
}


#role h1{
    margin-bottom: 3%;
    margin-top: 10%;
}
 #port{
    text-align: center;
}
#portfolio {
    list-style: none;
    display: flex; 
    justify-content: center; 
}

#portfolio li {
    margin: 0 10px;
    cursor: pointer;
    padding: 5px 10px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
}

 #jobrole{
    display: inline;
}


#slag{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 100px;
    /* height: 80vh; */
    width: 70vw;
    overflow: hidden;
}
.project-info{
    display: none;
    margin-top: 5%;
    width: 20%;
    font-weight: 200;
    background-color: rgba(26, 24, 24, 0.921); 
    box-sizing: border-box;
    border:2px solid #fff;
    border-radius: 3px;
    overflow: hidden;
    padding: 2px;
    text-align: justify;
    /* transition: opacity 0.3s ease; */
}
.Pimg:hover + .project-info{
    position: absolute;
    display: block;
    color: white;
    
}
.project-info a{
    /* text-decoration: none; */
    color: white;
    margin-left: 35%;
}

#grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 20vw; */
    background-color: aqua;
    margin: 10px;  
    overflow: hidden;
}

#grid:nth-child(8n+1),
#grid:nth-child(8n+3),
#grid:nth-child(8n+6){
    grid-row: span 2;
}

#grid:nth-child(8n+2),
#grid:nth-child(8n+4),
#grid:nth-child(8n+5){
    grid-row: span 3;
}

#lag{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}
#imggrid {
    display: flex;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
    /* height: 70vh;
    width: 70vw; */
    border: 1px solid black;
}

.portfolio-wrap{
    margin: 10px;
    width: 250px;
    background-color: beige;
}
/* .item1{
   height: 200px; 
}
.item2{
    height: 200px;
}
.item3{
    height: 200px;
}
.item4{
    height: 200px; 
 }
 .item5{
     height: 200px;
 }
 .item6{
     height: 200px;
 } */

 @media (max-width: 768px) {
    #slag {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #slag {
        grid-template-columns: repeat(1, 1fr);
    }
    .project-info{
        width: 70vw;
    }
}

#testimonial{
    margin-top: 10%;
}
 .bloop{
    text-align: center;
    margin-top: 50px;
}
 #test{
    display: flex;
    justify-content: center;
    gap: 70px;
    width: 110vw;
    margin-bottom: 30px;
}
 #name{
    margin-top: 50px;
    text-align: justify;
}
#ref{
    max-width: 100%;
    text-align: justify;
}
.refloop{
    width: 30%;
}
.refloop #left{
   margin-right: 300px;
}
.refloop #right{
    margin-left: 300px;
 }
 @media (max-width: 768px) {
    #test {
        flex-direction: column;
    }

    .refloop {
        width: 90%;
        text-align: center;
        /* margin-left: 10%; */
        margin-bottom: 10%; 
    }
    #ref{
        padding: 30px;
    }
    #name{
        text-align: center;
    }

    .refloop #left,
    .refloop #right {
        display: none; /* Hide quote icons on smaller screens */
    }
}





 
#content {
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.836);
    text-align: center;
    position: relative;
    
}

#hello {
    color: gainsboro;
    position: absolute;
    font-size: 450px; 
    font-weight: 400;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh;
    width: 100vw;
    font-family: "Rubik", sans-serif;
    overflow: hidden;
}

#get {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px; 
    color: white;
    padding-top: 80px;
    font-family: "Rubik", sans-serif;
    
}
#get p{
    font-family: "Rubik", sans-serif;
    font-size: 26;
    font-weight: 100;
    
}
#get h3{
    margin-top: 15px;
    font-size: 26px;
    font-family: "Rubik", sans-serif;
    font-weight: 100;
    
}
.social a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-size: 24px;
    
}
.social{
    margin-top: 90px;
}
.social i{
    overflow: hidden;
}

button {
    padding: 10px 20px;
    font-size: 10px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    margin-top: 80px;
    
}
button:hover {
    background-color: lightgray;
}

@media (max-width: 768px) {
    #hello {
        font-size: 250px; /* Decrease font size for smaller screens */
    }

    #get p,
    #get h3 {
        font-size: 20px; /* Decrease text size for smaller screens */
    }

    .social a {
        font-size: 20px; /* Decrease social icon size for smaller screens */
    }

    button {
        font-size: 14px; /* Decrease button font size for smaller screens */
        margin-top: 20px; /* Adjust button top margin for smaller screens */
    }
}

@media (max-width: 480px) {
    #hello {
        font-size: 150px; /* Further decrease font size for very small screens */
    }

    #get p,
    #get h3 {
        font-size: 16px; /* Further decrease text size for very small screens */
    }

    .social a {
        font-size: 16px; /* Further decrease social icon size for very small screens */
    }

    button {
        font-size: 12px; /* Further decrease button font size for very small screens */
        margin-top: 10px; /* Adjust button top margin for very small screens */
    }
}

.proj {
    height: 60vh;
    text-align: center;
    position: relative;
    margin-top: 50px;
    overflow: hidden;
}
#project {
    color: gainsboro;
    position: absolute;
    font-size: 200px; 
    font-weight: 400;
    z-index: -1;
    justify-content: center;
    align-items: center;
    /* height: 60vh; */
    width: 100vw;
    display: flex;
    font-family: "Rubik", sans-serif;
    overflow: hidden;
}
#flexproject{
    display: flex;
    justify-content: center;
    gap: 70px;
    padding-top: 100px;
    overflow: hidden;
}
#flexproject p{
    font-size: 10px;
    font-family: "Rubik", sans-serif;
    overflow: hidden;
}
#flexproject h1{
    font-size: 50px;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    overflow: hidden;
}

@media (max-width: 768px) {
    .proj {
        height: 70vh;
    }
    #project {
        font-size: 100px; /* Decrease font size for smaller screens */
    }

    #flexproject {
        flex-direction: column; /* Change to vertical layout on smaller screens */
        padding-top: 50px;
        margin-top: -40px;
        margin-bottom: 70px;
        gap: 30px;
    }

    #flexproject h1 {
        font-size: 40px; /* Decrease heading font size for smaller screens */
    }

    #flexproject p {
        font-size: 12px; /* Decrease description font size for smaller screens */
    }
}

.skills{
    text-align: center;
    /* height: 90vh; */
    overflow: hidden;
    
}
#skill{
    color: black;
    text-align: center;
    font-size: 20px;
}
#state{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 50vh; */
    width: 85%;
    margin-left: 6%;
    margin-bottom: 40%;
    
}
#snall{
    /* height: 30vh; */
    width: 15%;
    margin: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#state p{
    font-size: 20px;
    font-weight: 700;
    font-family: "Rubik", sans-serif;
}
#state i.fab {
    font-size: 8em;
}

/* Media Query for Responsive Design */
@media (max-width: 768px) {
    #state {
        flex-direction: column; /* Switch to vertical layout on smaller screens */
        overflow: hidden;
    }

    /* Additional adjustments for smaller screens */
    #snall {
        width: 40%; /* Each item takes full width in column layout */
        /* height: 150%; */
        margin-bottom: 20px; /* Add spacing between vertical items */
        overflow: hidden;
    }
    #state #snall {
        flex: 1 0 45%; /* Adjusted flex properties for smaller screens */
        
    }

    #state p {
        font-size: 16px; /* Decrease skill title font size for smaller screens */
    }

    #state i.fab {
        font-size: 3; /* Decrease skill icon font size for smaller screens */
    }
}




.job{
    color: black;
    text-align: center;
    font-size: 20px;
}
.Experience{
    color: black;
    text-align: center;
    height: 90vh;
}
.jobgrid{
    display: grid;
    column-gap: 50px;
    row-gap: 30px;
    grid-template-columns: auto auto;
    padding: 10px;
    margin-left: 5.5%;
}
.allexp{
    height: auto;
    width: 60%;
    margin: 5vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 5%;
}
.allexp p {
    font-size: 15px;
}

#ccword{
    margin-top: -20%;
}
.hire{
    display: flex;
    margin-left: 150px;
    margin-top: 50px;
    
}
#ccword h1{
    color: black;
    text-align: center;
    font-size: 20px;
}
#cword p{
    max-width: 500px;
    text-align: justify;
    padding: 5px;
}
.cicon{
    color: black;
    margin-top: 70px;
}
.cicon p{
    margin-top: 10px;
    font-size: 12px;
}
.cicon a{
    text-decoration: none;
    color: black;
}
.cicon i{
    margin-right: 10px;
}
.contact{
    margin-top: 10%;
    height: 40vh;
}
.formme {
    max-width: 500px;
    margin: 0 auto;
    background-color: black;
    padding: 20px;
}

.formme form {
    display: flex;
    flex-direction: column;
}

.formme input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
    background-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 0;
}

.formme button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    width: 80px;
    align-self: flex-end;
    margin-top: 0;
}
.formme button:hover {
    background-color: #0056b3;
}

/* Adjust layout for smaller screens */
@media (max-width: 768px) {
    #ccword {
        margin-top: -10%; /* Adjust the top margin for smaller screens */
    }

    .hire {
        flex-direction: column; /* Change to a column layout on smaller screens */
        align-items: center; /* Center-align items */
        margin-left: 0; /* Remove left margin */
        margin-top: 30px; /* Adjust top margin */
    }

    .cicon {
        margin-top: 30px; /* Adjust spacing for contact icons */
    }

    .formme {
        margin: 30px auto; /* Center the form horizontally */
    }
}


footer{
    display: flex;
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: center; /* Center-align items */    
    padding: 30px;
}
footer p{
    font-size: 10px;
}
footer .vicon{
    display: flex;
    gap: 20px;
    overflow: hidden;
    margin-top: 10px;
}
.vicon .fa-brands{
    overflow: hidden;
}
@media (max-width: 768px) {
    footer {
        flex-direction: column; /* Change to column layout on smaller screens */
        align-items: center; /* Center-align items */
        padding: 20px; /* Reduce padding */
    }

    footer .vicon {
        margin-top: 20px; /* Increase top margin for social icons */
        gap: 10px; /* Reduce gap between social icons */
    }
}